html {
    background: #F7A8B8;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

form {
    width: 100%
}

input {
    padding: 3%;
}

#chatbox {
    background-color: white;
    padding: 1rem;
    box-shadow: 10px 10px 10px black;
    width: 40rem;
    height: 40rem;
    display: inline-flex;
    flex-direction: column;
}

#innerchatbox {
    background-color: rgba(60, 60, 60, .75);
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    text-align: left;
}

#loggeduser {
    padding-top: 1%
}

#error {
    padding-top: 2.5%;
}